{% extends 'base_2.html' %}
{% load static %}
{% block body %}


<style>
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

</style>

<style>

    /* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #0ee9a6;
  border-radius: 19px;
}

[type=radio]:checked + p {
  outline: 2px solid #0ee9a6;
    border-radius: 19px;
    background-color: turquoise;
    color: white;
}


[type=radio]:checked + span {
  outline: 2px solid #0ee9a6;
    border-radius: 19px;
    background-color: turquoise;
    color: white;
}



</style>



<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>




<h6>INTRODUCE YOURSELF</h6>

<h1>About you</h1>



<form action="{% url 'lets_go_for_Employment_status' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <input type="hidden" name="finder_Room_furnishings" value="{{finder_Room_furnishings}}">
        <input type="hidden" name="finder_Internet" value="{{finder_Internet}}">
        <input type="hidden" name="finder_Bathroom_type" value="{{finder_Bathroom_type}}">
        <input type="hidden" name="finder_Parking" value="{{finder_Parking}}">
        <input type="hidden" name="finder_Max_number_of_flatmates" value="{{finder_Max_number_of_flatmates}}">

        <input type="hidden" name="finder_Weekly_budget" value="{{finder_Weekly_budget}}">
        <input type="hidden" name="finder_Preferred_move_date" value="{{finder_Preferred_move_date}}">
        <input type="hidden" name="finder_Preferred_length_of_stay" value="{{finder_Preferred_length_of_stay}}">

        <input type="hidden" name="subberb_tags" value="{{subberb_tags}}">

        <input type="hidden" name="finder_Room_in_an_existing_sharehouse" value="{{finder_Room_in_an_existing_sharehouse}}">
        <input type="hidden" name="finder_Whole_property_for_rent" value="{{finder_Whole_property_for_rent}}">
        <input type="hidden" name="finder_Studio" value="{{finder_Studio}}">
        <input type="hidden" name="finder_Granny_flats" value="{{finder_Granny_flats}}">
        <input type="hidden" name="finder_One_bed_flat" value="{{finder_One_bed_flat}}">
        <input type="hidden" name="finder_Homestay" value="{{finder_Homestay}}">
        <input type="hidden" name="finder_Shared_Room" value="{{finder_Shared_Room}}">
        <input type="hidden" name="finder_Student_Accommondation" value="{{finder_Student_Accommondation}}">


    </div>


    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="width: 100%;">
        <p style="font-size: 18px;">This place is for</p>
        <div style="margin-top: 23px;text-align: center;">

             <label  style="width:34%;" onclick="check_is_the_value_present()">
                  <input type="radio" name="finder_This_place_is_for" value="Me">
                  <p style="border: 2px solid;text-align: center;padding: 5px;">Me</p>
                </label>




            <label style="width:32%;" onclick="check_is_the_value_present()">
                  <input type="radio" name="finder_This_place_is_for" value="Couple" >
                  <p style="border: 2px solid;text-align: center;padding: 5px;">Couple</p>
            </label>

            <label   style="width:30%;" onclick="check_is_the_value_present()">
                  <input type="radio" name="finder_This_place_is_for" value="Group" >
                  <p style="border: 2px solid;text-align: center;padding: 5px;">Group</p>
            </label>

        </div>

        <div id="depand_on" style="display: none;">
            Your first name<br>
            <input id="id_finder_Your_first_name" name="finder_Your_first_name" style="width: 100%;" onkeyup="check_is_the_value_present_for_submit_button()" onkeydown="check_is_the_value_present_for_submit_button()">

            Your age
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Age</span>
              </div>
              <input name="finder_Age" id="id_finder_Age" type="number" class="form-control"  onkeydown="check_is_the_value_present_for_submit_button()" onkeyup="check_is_the_value_present_for_submit_button()">
            </div>
            The gender you identify as
            <div style="margin-top: 23px;text-align: center;">

                 <label  style="width:20%;" onclick="check_is_the_value_present_for_submit_button()">
                      <input type="radio" name="finder_The_gender_you_identify_as" value="Woman">
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Woman</p>
                    </label>

                <label style="width:20%;" onclick="check_is_the_value_present_for_submit_button()">
                      <input type="radio" name="finder_The_gender_you_identify_as" value="Man" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Man</p>
                </label>

                <label   style="width:25%;" onclick="check_is_the_value_present_for_submit_button()">
                      <input type="radio" name="finder_The_gender_you_identify_as" value="Non-binary" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Non-binary</p>
                </label>

                <label   style="width:30%;" onclick="check_is_the_value_present_for_submit_button()">
                      <input type="radio" name="finder_The_gender_you_identify_as" value="Gender diverse" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Gender diverse</p>
                </label>

            </div>

        </div>


        <div id="depand_on_2nd" style="display: none;">
            Your friend's first name<br>
            <input id="id_Your_friends_first_name_1" name="Your_friends_first_name_1" style="width: 100%;">

            Your friend's age
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Age</span>
              </div>
              <input name="finder_Your_friends_age_1" id="id_finder_Your_friends_age_1" type="number" class="form-control"  onkeydown="check_is_the_value_present()" onkeyup="check_is_the_value_present()">
            </div>
           The gender your friend identifies with
            <div style="margin-top: 23px;text-align: center;">

                 <label  style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_1" value="Woman">
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Woman</p>
                    </label>

                <label style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_1" value="Man" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Man</p>
                </label>

                <label   style="width:25%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_1" value="Non-binary" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Non-binary</p>
                </label>

                <label   style="width:30%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_1" value="Gender diverse" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Gender diverse</p>
                </label>

            </div>

        </div>





        <div id="depand_on_3nd" style="display: none;">
            Your friend's first name<br>
            <input id="id_Your_friends_first_name_2" name="Your_friends_first_name_2" style="width: 100%;">

            Your friend's age
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Age</span>
              </div>
              <input name="finder_Your_friends_age_2" id="id_finder_Your_friends_age_2" type="number" class="form-control"  onkeydown="check_is_the_value_present()" onkeyup="check_is_the_value_present()">
            </div>
           The gender your friend identifies with
            <div style="margin-top: 23px;text-align: center;">

                 <label  style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_2" value="Woman">
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Woman</p>
                    </label>

                <label style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_2" value="Man" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Man</p>
                </label>

                <label   style="width:25%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_2" value="Non-binary" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Non-binary</p>
                </label>

                <label   style="width:30%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_2" value="Gender diverse" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Gender diverse</p>
                </label>

            </div>


            <br>


<!--            <div>+ Add another person</div>-->


        </div>


        <div id="depand_on_4nd"></div>
        <div id="depand_on_5nd"></div>
        <div id="depand_on_6nd"></div>
        <div id="depand_on_7nd"></div>
        <div id="depand_on_8nd"></div>
        <div id="depand_on_9nd"></div>
        <div id="depand_on_10nd"></div>
        <div id="depand_on_11nd"></div>
        <div id="depand_on_12nd"></div>
        <div id="depand_on_13nd"></div>
        <div id="depand_on_14nd"></div>
        <div id="depand_on_15nd"></div>
        <div id="depand_on_16nd"></div>
        <div id="depand_on_17nd"></div>
        <div id="depand_on_18nd"></div>
        <div id="depand_on_19nd"></div>
        <div id="depand_on_20nd"></div>



        <div id="remove" style="text-align: center; margin-top: 13px; margin-bottom: 13px;"></div>
        <div id="add" onclick="add_option()" style="text-align: center;color: #00ff08; display: none;" >+ Add another person</div>



















<br>
<br>

        Profile picturec (You can add or change your profile picture later)
            <div >
              <div class="upload-btn-wrapper" style="width: 76px;border-radius: 38px;">

                  <img src="{% static '' %}images/no_profile_pic.PNG" style="width: 76px;border-radius: 38px;" id="blah_2">
                  <input type="file" id="image_to_upload_2" name="finder_Profile_picturec" accept="image/*" onchange="readURL_2(this);" />

              </div>

            </div>



<div style="text-align: center;" id="the_button">
<button type="submit" class="btn btn-primary" disabled>Save and Next</button>
</div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>


</div>



</form>







<script>
    function check_is_the_value_present(){
        console.log('ssssssssss')
        var d_finder_Room_furnishings = document.querySelector('input[name="finder_This_place_is_for"]:checked').value;

console.log(d_finder_Room_furnishings)

        if(d_finder_Room_furnishings == 'Me'){
            document.getElementById('depand_on').style.display = "";

            document.getElementById('depand_on_2nd').style.display = 'none';
            document.getElementById('depand_on_3nd').style.display = 'none';
            document.getElementById('add').style.display = 'none';
        }
        else if(d_finder_Room_furnishings == 'Couple'){
            document.getElementById('depand_on').style.display = '';
            document.getElementById('depand_on_2nd').style.display = "";

            document.getElementById('depand_on_3nd').style.display = 'none';
            document.getElementById('add').style.display = 'none';

        }
        else if(d_finder_Room_furnishings == 'Group'){
            document.getElementById('depand_on').style.display = '';
            document.getElementById('depand_on_3nd').style.display = "";
            document.getElementById('add').style.display = "";

            document.getElementById('depand_on_2nd').style.display = 'none';

        }

        else{
            document.getElementById('the_button').innerHTML = `<button type="submit" class="btn btn-primary" disabled>Save and Next</button>`
        }



    }


</script>


<script>
    function readURL_2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah_2')
                    .attr('src', e.target.result)
                    .width(75)
                    .height(75);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>



<script>
var i = 3;
    function add_option(){
    i = i+1;

    console.log('jjje')
    console.log(i)
    console.log('depand_on_'+i+'nd')
    console.log(document.getElementById('depand_on_'+i+'nd').innerHTML)

    document.getElementById('depand_on_'+i+'nd').innerHTML = `Your friend's first name<br>
            <input id="id_Your_friends_first_name_${i}" name="Your_friends_first_name_${i}" style="width: 100%;">

            Your friend's age
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Age</span>
              </div>
              <input name="finder_Your_friends_age_${i}" id="id_finder_Your_friends_age_${i}" type="number" class="form-control"  onkeydown="check_is_the_value_present()" onkeyup="check_is_the_value_present()">
            </div>
           The gender your friend identifies with
            <div style="margin-top: 23px;text-align: center;">

                 <label  style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_${i}" value="Woman">
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Woman</p>
                    </label>

                <label style="width:20%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_${i}" value="Man" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Man</p>
                </label>

                <label   style="width:25%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_${i}" value="Non-binary" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Non-binary</p>
                </label>

                <label   style="width:30%;" onclick="check_is_the_value_present()">
                      <input type="radio" name="finder_The_gender_your_friend_identify_as_${i}" value="Gender diverse" >
                      <p style="border: 2px solid;text-align: center;padding: 5px;">Gender diverse</p>
                </label>

            </div>`;





    document.getElementById('remove').innerHTML = `<div id="remove"  onclick="lets_remove(${i})" style="color: red;">Remove the last one</div>`


if(i <= 4){
console.log('low')
i = 4;

}








    }


</script>

<script>
    function lets_remove(l){
    console.log('fffffl')
    console.log(l)


    document.getElementById('depand_on_'+i+'nd').innerHTML = "";
    i=i-1;
    console.log('i')
    console.log(i)
        if(i<4){

            document.getElementById('remove').innerHTML ="";
        }

    }

</script>




<script>
    function check_is_the_value_present_for_submit_button(){

var d_finder_Room_furnishings = document.querySelector('input[name="finder_The_gender_you_identify_as"]:checked').value;



        if(d_finder_Room_furnishings && document.getElementById('id_finder_Your_first_name').value && document.getElementById('id_finder_Age').value){
            console.log('hi')
            document.getElementById('the_button').innerHTML = `<button type="submit" class="btn btn-primary" style="background-color: #32cdca;color: black;">Save and Next</button>`
        }

        else{
            document.getElementById('the_button').innerHTML = `<button type="submit" class="btn btn-primary" disabled>Save and Next</button>`
        }

    }


</script>



{% endblock %}

