{% extends 'base_2.html' %}
{% load static %}
{% block body %}

<h6>INTRODUCE YOURSELF</h6>
<h1>What makes you great to live with?</h1>


<form action="{% url 'let_go_do_you_want_to_preview' %}" method="POST">{% csrf_token %}


<div class="row" style="text-align: center; margin-top: 60px;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <input type="hidden" name="image_id" value="{{image_id}}">

        <input type="hidden" name="finder_Lifestyle_Smoker" value="{{finder_Lifestyle_Smoker}}">
        <input type="hidden" name="finder_Lifestyle_LGBTI" value="{{finder_Lifestyle_LGBTI}}">
        <input type="hidden" name="finder_Lifestyle_Pets" value="{{finder_Lifestyle_Pets}}">
        <input type="hidden" name="finder_Lifestyle_Children" value="{{finder_Lifestyle_Children}}">


        <input type="hidden" name="finder_Employment_status_Working_full_time" value="{{finder_Employment_status_Working_full_time}}">
        <input type="hidden" name="finder_Employment_status_Working_part_time" value="{{finder_Employment_status_Working_part_time}}">
        <input type="hidden" name="finder_Employment_status_Working_holiday" value="{{finder_Employment_status_Working_holiday}}">
        <input type="hidden" name="finder_Employment_status_Retired" value="{{finder_Employment_status_Retired}}">
        <input type="hidden" name="finder_Employment_status_Unemployed" value="{{finder_Employment_status_Unemployed}}">
        <input type="hidden" name="finder_Employment_status_Backpacker" value="{{finder_Employment_status_Backpacker}}">
        <input type="hidden" name="finder_Employment_status_Student" value="{{finder_Employment_status_Student}}">


        <input type="hidden" name="finder_This_place_is_for" value="{{finder_This_place_is_for}}">
        <input type="hidden" name="finder_Your_first_name" value="{{finder_Your_first_name}}">
        <input type="hidden" name="finder_Age" value="{{finder_Age}}">
        <input type="hidden" name="finder_The_gender_you_identify_as" value="{{finder_The_gender_you_identify_as}}">
        <input type="hidden" name="Your_friends_first_name_1" value="{{Your_friends_first_name_1}}">
        <input type="hidden" name="finder_Your_friends_age_1" value="{{finder_Your_friends_age_1}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_1" value="{{finder_The_gender_your_friend_identify_as_1}}">
        <input type="hidden" name="id_Your_friends_first_name_2" value="{{id_Your_friends_first_name_2}}">
        <input type="hidden" name="finder_Your_friends_age_2" value="{{finder_Your_friends_age_2}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_2" value="{{finder_The_gender_your_friend_identify_as_2}}">

        <input type="hidden" name="Your_friends_first_name_4" value="{{Your_friends_first_name_4}}">
        <input type="hidden" name="finder_Your_friends_age_4" value="{{finder_Your_friends_age_4}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_4" value="{{finder_The_gender_your_friend_identify_as_4}}">

        <input type="hidden" name="Your_friends_first_name_5" value="{{Your_friends_first_name_5}}">
        <input type="hidden" name="finder_Your_friends_age_5" value="{{finder_Your_friends_age_5}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_5" value="{{finder_The_gender_your_friend_identify_as_5}}">

        <input type="hidden" name="Your_friends_first_name_6" value="{{Your_friends_first_name_6}}">
        <input type="hidden" name="finder_Your_friends_age_6" value="{{finder_Your_friends_age_6}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_6" value="{{finder_The_gender_your_friend_identify_as_6}}">

        <input type="hidden" name="Your_friends_first_name_7" value="{{Your_friends_first_name_7}}">
        <input type="hidden" name="finder_Your_friends_age_7" value="{{finder_Your_friends_age_7}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_7" value="{{finder_The_gender_your_friend_identify_as_7}}">

        <input type="hidden" name="Your_friends_first_name_8" value="{{Your_friends_first_name_8}}">
        <input type="hidden" name="finder_Your_friends_age_8" value="{{finder_Your_friends_age_8}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_8" value="{{finder_The_gender_your_friend_identify_as_8}}">

        <input type="hidden" name="Your_friends_first_name_9" value="{{Your_friends_first_name_9}}">
        <input type="hidden" name="finder_Your_friends_age_9" value="{{finder_Your_friends_age_9}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_9" value="{{finder_The_gender_your_friend_identify_as_9}}">

        <input type="hidden" name="Your_friends_first_name_10" value="{{Your_friends_first_name_10}}">
        <input type="hidden" name="finder_Your_friends_age_10" value="{{finder_Your_friends_age_10}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_10" value="{{finder_The_gender_your_friend_identify_as_10}}">

        <input type="hidden" name="Your_friends_first_name_11" value="{{Your_friends_first_name_11}}">
        <input type="hidden" name="finder_Your_friends_age_11" value="{{finder_Your_friends_age_11}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_11" value="{{finder_The_gender_your_friend_identify_as_11}}">

        <input type="hidden" name="Your_friends_first_name_12" value="{{Your_friends_first_name_12}}">
        <input type="hidden" name="finder_Your_friends_age_12" value="{{finder_Your_friends_age_12}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_12" value="{{finder_The_gender_your_friend_identify_as_12}}">

        <input type="hidden" name="Your_friends_first_name_13" value="{{Your_friends_first_name_13}}">
        <input type="hidden" name="finder_Your_friends_age_13" value="{{finder_Your_friends_age_13}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_13" value="{{finder_The_gender_your_friend_identify_as_13}}">

        <input type="hidden" name="Your_friends_first_name_14" value="{{Your_friends_first_name_14}}">
        <input type="hidden" name="finder_Your_friends_age_14" value="{{finder_Your_friends_age_14}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_14" value="{{finder_The_gender_your_friend_identify_as_14}}">

        <input type="hidden" name="Your_friends_first_name_15" value="{{Your_friends_first_name_15}}">
        <input type="hidden" name="finder_Your_friends_age_15" value="{{finder_Your_friends_age_15}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_15" value="{{finder_The_gender_your_friend_identify_as_15}}">

        <input type="hidden" name="Your_friends_first_name_16" value="{{Your_friends_first_name_16}}">
        <input type="hidden" name="finder_Your_friends_age_16" value="{{finder_Your_friends_age_16}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_16" value="{{finder_The_gender_your_friend_identify_as_16}}">

        <input type="hidden" name="Your_friends_first_name_17" value="{{Your_friends_first_name_17}}">
        <input type="hidden" name="finder_Your_friends_age_17" value="{{finder_Your_friends_age_17}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_17" value="{{finder_The_gender_your_friend_identify_as_17}}">

        <input type="hidden" name="Your_friends_first_name_18" value="{{Your_friends_first_name_18}}">
        <input type="hidden" name="finder_Your_friends_age_18" value="{{finder_Your_friends_age_18}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_18" value="{{finder_The_gender_your_friend_identify_as_18}}">

        <input type="hidden" name="Your_friends_first_name_19" value="{{Your_friends_first_name_19}}">
        <input type="hidden" name="finder_Your_friends_age_19" value="{{finder_Your_friends_age_19}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_19" value="{{finder_The_gender_your_friend_identify_as_19}}">

        <input type="hidden" name="Your_friends_first_name_20" value="{{Your_friends_first_name_20}}">
        <input type="hidden" name="finder_Your_friends_age_20" value="{{finder_Your_friends_age_20}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_20" value="{{finder_The_gender_your_friend_identify_as_20}}">


        <input type="hidden" name="finder_Room_furnishings" value="{{finder_Room_furnishings}}">
        <input type="hidden" name="finder_Internet" value="{{finder_Internet}}">
        <input type="hidden" name="finder_Bathroom_type" value="{{finder_Bathroom_type}}">
        <input type="hidden" name="finder_Parking" value="{{finder_Parking}}">
        <input type="hidden" name="finder_Max_number_of_flatmates" value="{{finder_Max_number_of_flatmates}}">

        <input type="hidden" name="finder_Weekly_budget" value="{{finder_Weekly_budget}}">
        <input type="hidden" name="finder_Preferred_move_date" value="{{finder_Preferred_move_date}}">
        <input type="hidden" name="finder_Preferred_length_of_stay" value="{{finder_Preferred_length_of_stay}}">

        <input type="hidden" name="subberb_tags" value="{{subberb_tags}}">

        <input type="hidden" name="finder_Room_in_an_existing_sharehouse" value="{{finder_Room_in_an_existing_sharehouse}}">
        <input type="hidden" name="finder_Whole_property_for_rent" value="{{finder_Whole_property_for_rent}}">
        <input type="hidden" name="finder_Studio" value="{{finder_Studio}}">
        <input type="hidden" name="finder_Granny_flats" value="{{finder_Granny_flats}}">
        <input type="hidden" name="finder_One_bed_flat" value="{{finder_One_bed_flat}}">
        <input type="hidden" name="finder_Homestay" value="{{finder_Homestay}}">
        <input type="hidden" name="finder_Shared_Room" value="{{finder_Shared_Room}}">
        <input type="hidden" name="finder_Student_Accommondation" value="{{finder_Student_Accommondation}}">

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

<textarea rows="10" cols="50" name="finder_great_to_live_with" placeholder="say something about your self......"></textarea>

        <br>
        Tell your potential flatmates a little about yourself. What do you do for work, what do you like to do for fun and where you are from. Also remember to let them know what you're looking for.
<br>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

</div>




<div class="row" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <button type="submit" class="btn btn-primary">Save and Next</button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

</div>

</form>


{% endblock %}