{% extends 'base_2.html' %}
{% load static %}
{% block body %}

<style>

        ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {

}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 70px;
  width: 70px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}



</style>







<h6>INTRODUCE YOURSELF</h6>
<h1>Employment status</h1>


<form action="{% url 'let_go_Lifestyle' %}" method="POST">{% csrf_token %}


<div class="row" style="text-align: center; margin-top: 60px;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <input type="hidden" name="image_id" value="{{image_id}}">

        <input type="hidden" name="finder_This_place_is_for" value="{{finder_This_place_is_for}}">
        <input type="hidden" name="finder_Your_first_name" value="{{finder_Your_first_name}}">
        <input type="hidden" name="finder_Age" value="{{finder_Age}}">
        <input type="hidden" name="finder_The_gender_you_identify_as" value="{{finder_The_gender_you_identify_as}}">
        <input type="hidden" name="Your_friends_first_name_1" value="{{Your_friends_first_name_1}}">
        <input type="hidden" name="finder_Your_friends_age_1" value="{{finder_Your_friends_age_1}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_1" value="{{finder_The_gender_your_friend_identify_as_1}}">
        <input type="hidden" name="id_Your_friends_first_name_2" value="{{id_Your_friends_first_name_2}}">
        <input type="hidden" name="finder_Your_friends_age_2" value="{{finder_Your_friends_age_2}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_2" value="{{finder_The_gender_your_friend_identify_as_2}}">

        <input type="hidden" name="Your_friends_first_name_4" value="{{Your_friends_first_name_4}}">
        <input type="hidden" name="finder_Your_friends_age_4" value="{{finder_Your_friends_age_4}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_4" value="{{finder_The_gender_your_friend_identify_as_4}}">

        <input type="hidden" name="Your_friends_first_name_5" value="{{Your_friends_first_name_5}}">
        <input type="hidden" name="finder_Your_friends_age_5" value="{{finder_Your_friends_age_5}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_5" value="{{finder_The_gender_your_friend_identify_as_5}}">

        <input type="hidden" name="Your_friends_first_name_6" value="{{Your_friends_first_name_6}}">
        <input type="hidden" name="finder_Your_friends_age_6" value="{{finder_Your_friends_age_6}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_6" value="{{finder_The_gender_your_friend_identify_as_6}}">

        <input type="hidden" name="Your_friends_first_name_7" value="{{Your_friends_first_name_7}}">
        <input type="hidden" name="finder_Your_friends_age_7" value="{{finder_Your_friends_age_7}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_7" value="{{finder_The_gender_your_friend_identify_as_7}}">

        <input type="hidden" name="Your_friends_first_name_8" value="{{Your_friends_first_name_8}}">
        <input type="hidden" name="finder_Your_friends_age_8" value="{{finder_Your_friends_age_8}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_8" value="{{finder_The_gender_your_friend_identify_as_8}}">

        <input type="hidden" name="Your_friends_first_name_9" value="{{Your_friends_first_name_9}}">
        <input type="hidden" name="finder_Your_friends_age_9" value="{{finder_Your_friends_age_9}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_9" value="{{finder_The_gender_your_friend_identify_as_9}}">

        <input type="hidden" name="Your_friends_first_name_10" value="{{Your_friends_first_name_10}}">
        <input type="hidden" name="finder_Your_friends_age_10" value="{{finder_Your_friends_age_10}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_10" value="{{finder_The_gender_your_friend_identify_as_10}}">

        <input type="hidden" name="Your_friends_first_name_11" value="{{Your_friends_first_name_11}}">
        <input type="hidden" name="finder_Your_friends_age_11" value="{{finder_Your_friends_age_11}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_11" value="{{finder_The_gender_your_friend_identify_as_11}}">

        <input type="hidden" name="Your_friends_first_name_12" value="{{Your_friends_first_name_12}}">
        <input type="hidden" name="finder_Your_friends_age_12" value="{{finder_Your_friends_age_12}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_12" value="{{finder_The_gender_your_friend_identify_as_12}}">

        <input type="hidden" name="Your_friends_first_name_13" value="{{Your_friends_first_name_13}}">
        <input type="hidden" name="finder_Your_friends_age_13" value="{{finder_Your_friends_age_13}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_13" value="{{finder_The_gender_your_friend_identify_as_13}}">

        <input type="hidden" name="Your_friends_first_name_14" value="{{Your_friends_first_name_14}}">
        <input type="hidden" name="finder_Your_friends_age_14" value="{{finder_Your_friends_age_14}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_14" value="{{finder_The_gender_your_friend_identify_as_14}}">

        <input type="hidden" name="Your_friends_first_name_15" value="{{Your_friends_first_name_15}}">
        <input type="hidden" name="finder_Your_friends_age_15" value="{{finder_Your_friends_age_15}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_15" value="{{finder_The_gender_your_friend_identify_as_15}}">

        <input type="hidden" name="Your_friends_first_name_16" value="{{Your_friends_first_name_16}}">
        <input type="hidden" name="finder_Your_friends_age_16" value="{{finder_Your_friends_age_16}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_16" value="{{finder_The_gender_your_friend_identify_as_16}}">

        <input type="hidden" name="Your_friends_first_name_17" value="{{Your_friends_first_name_17}}">
        <input type="hidden" name="finder_Your_friends_age_17" value="{{finder_Your_friends_age_17}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_17" value="{{finder_The_gender_your_friend_identify_as_17}}">

        <input type="hidden" name="Your_friends_first_name_18" value="{{Your_friends_first_name_18}}">
        <input type="hidden" name="finder_Your_friends_age_18" value="{{finder_Your_friends_age_18}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_18" value="{{finder_The_gender_your_friend_identify_as_18}}">

        <input type="hidden" name="Your_friends_first_name_19" value="{{Your_friends_first_name_19}}">
        <input type="hidden" name="finder_Your_friends_age_19" value="{{finder_Your_friends_age_19}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_19" value="{{finder_The_gender_your_friend_identify_as_19}}">

        <input type="hidden" name="Your_friends_first_name_20" value="{{Your_friends_first_name_20}}">
        <input type="hidden" name="finder_Your_friends_age_20" value="{{finder_Your_friends_age_20}}">
        <input type="hidden" name="finder_The_gender_your_friend_identify_as_20" value="{{finder_The_gender_your_friend_identify_as_20}}">


        <input type="hidden" name="finder_Room_furnishings" value="{{finder_Room_furnishings}}">
        <input type="hidden" name="finder_Internet" value="{{finder_Internet}}">
        <input type="hidden" name="finder_Bathroom_type" value="{{finder_Bathroom_type}}">
        <input type="hidden" name="finder_Parking" value="{{finder_Parking}}">
        <input type="hidden" name="finder_Max_number_of_flatmates" value="{{finder_Max_number_of_flatmates}}">

        <input type="hidden" name="finder_Weekly_budget" value="{{finder_Weekly_budget}}">
        <input type="hidden" name="finder_Preferred_move_date" value="{{finder_Preferred_move_date}}">
        <input type="hidden" name="finder_Preferred_length_of_stay" value="{{finder_Preferred_length_of_stay}}">

        <input type="hidden" name="subberb_tags" value="{{subberb_tags}}">

        <input type="hidden" name="finder_Room_in_an_existing_sharehouse" value="{{finder_Room_in_an_existing_sharehouse}}">
        <input type="hidden" name="finder_Whole_property_for_rent" value="{{finder_Whole_property_for_rent}}">
        <input type="hidden" name="finder_Studio" value="{{finder_Studio}}">
        <input type="hidden" name="finder_Granny_flats" value="{{finder_Granny_flats}}">
        <input type="hidden" name="finder_One_bed_flat" value="{{finder_One_bed_flat}}">
        <input type="hidden" name="finder_Homestay" value="{{finder_Homestay}}">
        <input type="hidden" name="finder_Shared_Room" value="{{finder_Shared_Room}}">
        <input type="hidden" name="finder_Student_Accommondation" value="{{finder_Student_Accommondation}}">

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="row">

        <div>
        <input name="finder_Employment_status_Working_full_time" type="checkbox" id="cb1"/>
        <label for="cb1" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Working full-time


        </label>
        </div>

        <div>
        <input name="finder_Employment_status_Working_part_time" type="checkbox" id="cb2"/>
        <label for="cb2" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Working part-time
        </label>
        </div>

        <div>
        <input name="finder_Employment_status_Working_holiday" type="checkbox" id="cb3"/>
        <label for="cb3" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Working holiday
        </label>
        </div>

        <div>
        <input name="finder_Employment_status_Retired" type="checkbox" id="cb4"/>
        <label for="cb4" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Retired
        </label>
        </div>

    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

</div>

<div class="row" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

    <div class="row">

        <div>
        <input name="finder_Employment_status_Unemployed" type="checkbox" id="cb5"/>
        <label for="cb5" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Unemployed
        </label>
        </div>

        <div>
        <input name="finder_Employment_status_Backpacker" type="checkbox" id="cb6"/>
        <label for="cb6" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Backpacker
        </label>
        </div>

        <div>
        <input name="finder_Employment_status_Student" type="checkbox" id="cb7"/>
        <label for="cb7" style="border: 1px solid #fff; padding: 10px; position: relative; margin: 10px; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;width: 109px;">
            <img src="https://picsum.photos/seed/1/100" />
            <br>Student
        </label>
        </div>



    </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

</div>


<div class="row" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <button type="submit" class="btn btn-primary">Save and Next</button>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

</div>

</form>

{% endblock %}