{% extends 'base_2.html' %}
{% load static %}
{% block body %}



<div class="row" style="text-align: center; margin-top: 60px;">


<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="background-color: #eaefdf; padding: 9px;  border: 1px solid; border-radius: 10px; margin-bottom: 16px;">
    Let's create a listing to help find you a new home
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="background-color: #eaefdf; padding: 9px;  border: 1px solid; border-radius: 10px; margin-bottom: 16px;">
    Describe your ideal place
    Beds, bathrooms, amenities, rent etc
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>


<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style=" margin-bottom: 32px;">
    <span style="background-color: #76b396;padding: 9px;border: 1px solid;border-radius: 10px;color: white;">1 of 2</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>


<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <a href="{% url 'What_type_of_place_are_you_looking' %}" class="btn btn-primary" style="padding: 9px;border: 1px solid;border-radius: 10px;margin-bottom: 16px;width: 41%;">Start</a>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>





</div>

{% endblock %}